<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Root to home" stopProcessing="true">
          <match url="^$" />
          <action type="Redirect" url="/home" redirectType="Temporary" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
